body{
	margin: 0;
	padding: 0;
    font-family: "Segoe UI";
}

.wrapper{
	width: 200px;
	height: auto;
	margin: auto;
	padding: 10px;
    margin-top: 30px;
}

h3{
    text-align: center;
    font-size: 13px;
    margin-top: 100px;
}

input[type="text"],
input[type="password"]{
	margin-left: 3px;
    height: 30px;
    margin-bottom: 10px;
}

.submit{
    margin-left: 3px;
    width: 175px;
    padding: 4%;
    cursor: pointer;
    margin-top: 5px;
    background-color: #007C00;
    border: none;
    color: #FFFFFF !important;
}

label{
    font-size: 13px;
}

.keys{
    border: 1px solid #C5C5C5;
    background-color: #FAFAFA;
    outline: none;
    width: 30px;
    height: 30px;
    margin: 3px;
    cursor: pointer;
}

.keys:active{
    border: 1px solid #C62700;
    background-color: #C62700;
}

.del,
.clr{
    width: 41%;
    padding: 3% 0;
    color: #FFF;
    cursor: pointer;
    background-color: #C62700;
    border: none;
    margin: 3px;
}
